<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD60M1h6EuNoNDKYATlHTbFD_v7rH-fzbI</string>
	<key>GCM_SENDER_ID</key>
	<string>838093881502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leonguyen.flutterquiz</string>
	<key>PROJECT_ID</key>
	<string>higate-quiz-game</string>
	<key>STORAGE_BUCKET</key>
	<string>higate-quiz-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838093881502:ios:031eb325b1ee8e8dd9bb8f</string>
	<key>DATABASE_URL</key>
	<string>https://higate-quiz-game-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>